
abstract=The Ontology for Managing Geometry (OMG) is based the concepts introduced in the Ontology for Property Management (OPM) ontology.
ontologyTitle=OMG: Ontology for Managing Geometry
ontologyPrefix=omg
ontologyNamespaceURI=http://w3id.org/omg
ontologyName=Ontology for Managing Geometry (OMG)
thisVersionURI=http://w3id.org/omg
latestVersionURI=
previousVersionURI=
dateOfRelease=
ontologyRevisionNumber=0.0.0
licenseURI=
licenseName=
licenseIconURL=
citeAs=
DOI=
status=Ontology Specification Draft
backwardsCompatibleWith=
publisher=
publisherURI=
publisherInstitution=
publisherInstitutionURI=
authors=Anna Wagner;Mathias Bonduel;Pieter Pauwels
authorsURI=
authorsInstitution=TU Darmstadt;KU Leuven; Ghent University
authorsInstitutionURI=
contributors=
contributorsURI=
contributorsInstitution=
contributorsInstitutionURI=
importedOntologyNames=
importedOntologyURIs=
extendedOntologyNames=
extendedOntologyURIs=
RDFXMLSerialization=ontology.xml
TurtleSerialization=ontology.ttl
N3Serialization=ontology.nt
JSONLDSerialization=ontology.json
